<ng-include src="'tpl/network/nav.html'"></ng-include>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Testbed Server</h4>
                        <p class="category">Elementare Server des Testbeds</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr><th>Server</th>
                                    <th>Name</th>
                                </tr></thead>
                            <tbody>
                                <tr>
                                    <td>{{control}}</td>
                                    <td>Controlpanel</td>
                                </tr>
                                <tr>
                                    <td>{{repository}}</td>
                                    <td>Repository</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">OPC UA Aktive Server</h4>
                        <p class="category">Docker Server</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr><th>URI</th>
                                    <th>Server</th>
                                    <th>Name</th>
                                </tr></thead>
                            <tbody>
                                <tr ng-repeat="server in servers.servers">
                                    <td>{{server.productUri}}</td>
                                    <td>{{server.discoveryUrls[0][0]}}</td>
                                    <td>{{server.applicationName.text}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">OPC UA Produkt Server</h4>
                        <p class="category">Produkte die im Repository liegen</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr><th>URI</th>
                                    <th>Server</th>
                                    <th>Name</th>
                                </tr></thead>
                            <tbody>
                                <tr ng-repeat="product in servers.products">
                                    <td>{{product.productUri}}</td>
                                    <td>{{product.discoveryUrls[0][0]}}</td>
                                    <td>{{product.applicationName.text}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>