<ng-include src="'tpl/products/nav.html'"></ng-include>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Produktarten</h4>
                        <p class="category">Alle Produktarten, aus denen Produkte erstellt werden können</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped" ng-controller="ProductManage">
                            <thead>
                                <tr><th>ID</th>
                                    <th>Name</th>
                                    <th>Produktionsschritte</th>
                                    <th>Attribute</th>
                                    <th>Aktionen</th>
                                </tr></thead>
                            <tbody>
                                <tr ng-repeat="type in types">
                                    <td>{{type._id}}</td>
                                    <td>{{type.name}}</td>
                                    <td><span class="btn btn-default btn-sm btn-round" ng-repeat="step in type.step">{{step.index+1}}. {{step.name}}</span></td>
                                    <td><span class="btn btn-default btn-sm btn-round" ng-repeat="var in type.var">{{var.name}} ({{var.type}})</span></td>
                                    <td><span class="btn btn-danger btn-sm btn-round" title="löschen" ng-click="deleteType(type._id)"><i class="pe-7s-trash"></i></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>