<ng-include src="'tpl/products/nav.html'"></ng-include>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Produkte in Bearbeitung</h4>
                        <p class="category">Alle zu fertigenden Produkte</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped" ng-controller="ProductOverview">
                            <thead>
                                <tr><th>URI</th>
                                    <th>Name</th>
                                    <th>Produktionsschritte</th>
                                    <th>Attribute</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                    <th>Fortschritt</th>
                                    <th>Aktionen</th>
                                </tr></thead>
                            <tbody>
                                <tr ng-repeat="product in products">
                                    <td><div style="max-width: 100px; overflow: hidden; text-overflow:ellipsis;">PRODUCT_{{product._id}}</div></td>
                                    <td>{{product.name}}</td>
                                    <td><span class="btn btn-sm btn-round{{step.index == product.currentStep && product.status != 'INIT' && product.status != 'PRODUCED' ? ' btn-fill btn-success' : ' btn-default'}}" style="{{step.index == 0 ? 'border-radius: 30px 0px 0px 30px !important; border-right: 0px;' : (step.index == product.step.length-1 ? 'border-radius: 0px 30px 30px 0px !important;' : 'border-radius: 0px !important; border-right: 0px;')}}" ng-repeat="step in product.step">{{step.index+1}}. {{step.name}}</span></td>
                                    <td><span class="btn btn-default btn-sm btn-round" ng-repeat="var in product.var" style="margin-right: 5px;">{{var.name}}: ({{var.value}})</span></td>
                                    <td>{{product.location}}</td>
                                    <td>{{product.status}}</td>
                                    <td>{{100/product.step.length*product.currentStep+(product.status=='PRODUCE'?100/product.step.length/2:0)+(product.status=='FINISHED'||product.status=='PRODUCED'?100/product.step.length:0) | number: 2}}%</td>
                                    <td>
                                        <span ng-if="product.status == 'INIT'">
                                            <span class="btn btn-primary btn-sm btn-round" title="produzieren" ng-click="startProduct(product)"><i class="pe-7s-play"></i></span>
                                        </span>
                                        
                                        <span class="btn btn-warning btn-sm btn-round" title="zurücksetzen" ng-click="resetProduct(product)" title="Produktionsschritte zurücksetzen"><i class="pe-7s-gleam"></i></span>
                                        <span class="btn btn-danger btn-sm btn-round" title="löschen" ng-click="deleteProduct(product._id)" tite="Produkt löschen"><i class="pe-7s-trash"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>